Q1: add in the remainder of the code below to print the cubed value of a number

In [ ]:
def calculate_cube(number):
    # put your code here


my_number = 5 # this is the value to cube.
calculate_cube(my_number)

Q2: Adjust the nested loop statements to print only the even values of the 12 times table.

In [ ]:

for a in range(1,13):
    for b in range(1,13):
        c = a*b
        print(a,' times ',b,' = ',c)

Q3: Use the code above to form a function called "times_tables" that reads in two number (n,m) and prints out all cominations of products a.b for a=1,2,...n and b=1,2,...m

In [ ]:
def times_tables(n,m):
    # put your code here


# call the function
n = 12
m =12
times_tables(n,m)

Q4: form a function that RETURNS the roots of a quadratic function. (assuming they are real valued)

In [ ]:
def quadratic_roots(a,b,c):
    # put your code here to calculate roots of ax^2 + bx + c = 0
    
    return root1, root2

a=2
b=4
c=1

r1,r2 = times_tables(a,b,c)
print()